body {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0px;
    padding: 0px;
  
}

.desert {
    width: 40vw;
    height: 100vh;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20vh;
    left: 0vh;
    background-color: rgb(255, 255, 255, 0.15);
    height: 22vh;
    width: 40vw;
}

.lantern {
    width: 6vw;
    height: 22vh;
}
.guarded-Oasis {  
    position: relative;
    top: 3vh;
    font-family:'Brush Script MT', cursive, sans-serif;
    width: 4vw;    
    font-size: 4vh;
}



.pic-reference {
    position: absolute;
    bottom: 1vh;
    left: 11vw; 
    text-decoration: none;
    color: white;
    font-size: 2.3vh;
}

