
html {
    overflow-y: scroll; overflow-x: hidden;
    overflow-y: hidden;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
  
}

/*design side*/
.desert-pic {
    width: 38vw;
    height: 100vh;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 2vh;
    top: 14vh;
    left: 0vh;
    background-color: rgb(255, 255, 255, 0.15);
    height: 20vh;
    width: 38vw;
}
.lantern {
    width: 5vw;
    height: 20vh;
}
.guarded-Oasis { 
    display: flex;
    text-align: center;
    position: relative;
    top: -2vh; 
    font-family: 'Castellar','Bauhaus 93','Brush Script MT', cursive, sans-serif;
    width: 4vw;    
    font-size: 4vh;
}
.pic-reference {
    position: absolute;
    bottom: 1vh;
    left: 11vw; 
    text-decoration: none;
    color: white;
    font-size: 2.3vh;
}

/*right side*/
.right {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(245, 238, 238);
}

/*intro-text*/
.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 3vw;
    font-weight: 600;
    height: 34vh;
    width: 62vw;
    font-size: 2.8vh;
   
}

.long-text {
    width: 41vw;
    margin: 0;
}

/*form*/
button,
.form-container {
    font-family: inherit;
}
.form-container {
    border: 0.2vh solid #ccc;
    box-shadow: 0.5vh 0.7vh 0.7vh rgb(190, 190, 190);
    background-color: white;
}
.cheer {
    padding-left: 3vw;
    font-size: 2.5vh;
    margin-bottom: 1vh;
}
form {
    font-size: 2vh;
    height: 27vh;
    width: 40vw;
    padding-left: 3vw;
    
}
.input-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vh;
    height: 20vh;
}

label {
    color: rgb(77, 77, 77);
}
span {
    padding: 0px;
    margin: 0px;
    width: 14vw;
    height: 3vh;
}
input {
    padding: 0.2vh 0.4vh;
    font-size: 2vh;
    border-radius: 0.5vh;
    border: 0.2vh solid;
    width: 12vw;
    height: 3vh;
}
input:focus {
    outline: 0.3vh solid blue ;
}
input:valid {
    outline: 0.3vh solid green ;
}

button {
    margin-top: 3vh;
    cursor: pointer;
    margin-left: 3vw;
    border-radius: 0.7vh;
    font-size: 2.4vh;
    font-weight: 600;
    color: white;
    border: none;
    background-color: rgb(180, 79, 39);
    box-shadow: 0.5vh 0.7vh 0.7vh rgb(190, 190, 190);
    width: 12vw;
    height: 6vh;
}

.finalize {
    padding-left: 3vw ;
    padding-top: 3vh;
    font-size: 2.2vh;
}
a{
    font-family: inherit;
    text-decoration: none;
    color: rgb(180, 79, 39);
    font-weight:800;
    
}