
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
  
}

html {
    overflow-y: scroll; overflow-x: hidden;
    overflow-y: hidden;
}


/*design side*/
.desert-pic {
    width: 38vw;
    height: 100vh;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18vh;
    left: 0vh;
    background-color: rgb(255, 255, 255, 0.15);
    height: 20vh;
    width: 38vw;
}
.lantern {
    width: 5vw;
    height: 20vh;
}
.guarded-Oasis {  
    position: relative;
    top: 3vh;
    font-family:'Brush Script MT', cursive, sans-serif;
    width: 4vw;    
    font-size: 4vh;
}
.pic-reference {
    position: absolute;
    bottom: 1vh;
    left: 11vw; 
    text-decoration: none;
    color: white;
    font-size: 2.3vh;
}

/*right side*/
.right {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(245, 238, 238);
}

/*intro-text*/
.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 3vw;
    font-weight: 600;
    height: 38vh;
    width: 62vw;
    font-size: 2.8vh;
   
}

.long-text {
    width: 41vw;
    margin: 0;
}

/*form*/
button,
input {
    font-family: inherit;
}
.form-container {
    min-height: 30vh;
    border: 1px solid #ccc;
    box-shadow: 1px 5px 10px rgb(190, 190, 190);
    background-color: white;
}
.cheer {
    padding-left: 3vw;
    font-size: 2.4vh;
}

form {
    display: flex;
    flex-wrap: wrap;
    
    gap: 4px;
    height: 30vh;
    width: 40vw;
    padding-left: 3vw;
    
}

button {
    margin-left: 3vw;
    border-radius: 5%;
    font-size: 2.4vh;
    color: white;
    background-color: rgb(180, 79, 39);
    width: 12vw;
    height: 6vh;
}

input {
    width: 12vw;
    height: 3vh;
}
